.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    mask-size: contain;
    -webkit-mask-size: contain;

    &_person {
        mask-image: url(../img/ico/person.svg);
        -webkit-mask-image: url(../img/ico/person.svg);
    }

    &_basket {
        mask-image: url(../img/ico/basket.svg);
        -webkit-mask-image: url(../img/ico/basket.svg);
    }

    &_filter {
        mask-image: url(../img/ico/filter.svg);
        -webkit-mask-image: url(../img/ico/filter.svg);
    }

    &_calendar {
        mask-image: url(../img/ico/calendar.svg);
        -webkit-mask-image: url(../img/ico/calendar.svg);
    }

    &_email {
        mask-image: url(../img/ico/email.svg);
        -webkit-mask-image: url(../img/ico/email.svg);
    }

    &_phone {
        mask-image: url(../img/ico/phone.svg);
        -webkit-mask-image: url(../img/ico/phone.svg);
    }

    &_pin {
        mask-image: url(../img/ico/pin.svg);
        -webkit-mask-image: url(../img/ico/pin.svg);
    }

    &_loupe {
        mask-image: url(../img/ico/loupe.svg);
        -webkit-mask-image: url(../img/ico/loupe.svg);
    }

    &_close {
        mask-image: url(../img/ico/close.svg);
        -webkit-mask-image: url(../img/ico/close.svg);
    }

    &_rub {
        mask-image: url(../img/ico/rub.svg);
        -webkit-mask-image: url(../img/ico/rub.svg);
    }

    &_facebook {
        mask-image: url(../img/ico/social/facebook.svg);
        -webkit-mask-image: url(../img/ico/social/facebook.svg);
    }

    &_linkedin {
        mask-image: url(../img/ico/social/linkedin.svg);
        -webkit-mask-image: url(../img/ico/social/linkedin.svg);
    }

    &_pinterest {
        mask-image: url(../img/ico/social/pinterest.svg);
        -webkit-mask-image: url(../img/ico/social/pinterest.svg);
    }

    &_twitter {
        mask-image: url(../img/ico/social/twitter.svg);
        -webkit-mask-image: url(../img/ico/social/twitter.svg);
    }

    &_user {
        mask-image: url(../img/ico/social/user.svg);
        -webkit-mask-image: url(../img/ico/social/user.svg);
    }

    &_burger {
        mask-position: center;
        -webkit-mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-image: url(../img/ico/burger.svg);
        -webkit-mask-image: url(../img/ico/burger.svg);
        background-color: $secondaryTextColor;
    }

    &_header {
        background-color: $secondaryTextColor;
        transition: .1s background-color ease-in-out;

        &:hover {
            background-color: $primaryTextColor;
        }
    }

    &_small {
        width: 16px;
        height: 16px;
    }
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $secondaryTextColor;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
    letter-spacing: 1.44px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 0px 12px;
    border: 1px solid #888;
    opacity: 0.8;
    background: #222;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(2px);
    transition: color .1s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out;

    .icon {
        margin-right: 6px;
        background-color: $secondaryTextColor;
    }

    &_icons {
        gap: 20px;
        align-items: center;
        height: 42px;
    }

    &_header {
        height: 42px;
        max-height: 42px;

        &-desk {}

        &-mobi {
            position: absolute;
            left: 0;
            top: calc(100% + 12px);
            display: none;
            width: fit-content;
            height: auto;
            max-height: none;

            .icon {
                width: 40px;
                height: 40px;
            }
        }
    }

    &_filter {
        justify-content: center;
    }

    &:hover {
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
        opacity: 1;
        text-decoration: none;

        &:active {
            opacity: .8;
        }
    }

    &:active {
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    }

    &_static {
        &:hover {
            opacity: .8;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.25) inset;
        }
    }

    &_burger {
        flex-direction: column;
        justify-content: space-between;
        width: 56px;
        cursor: pointer;
        padding: 9px 16px;

        &:hover {
            .icon {
                background-color: $primaryTextColor;
            }
        }
    }

    &_item {
        z-index: 2;
        justify-content: center;
        margin-top: auto;
        font-size: 20px;
        padding: 9px 4px;
        line-height: 1;
    }

    &_catalog {
        display: none;
        margin-bottom: 24px;
        width: fit-content;
        padding: 4px 20px;
    }

    &_hero {
        margin-top: 16px;
        padding: 4px 20px;
    }

    &_reg {
        width: 100%;
        justify-content: center;
    }

}

.catalog-card {
    position: relative;
    display: grid;
    gap: 20px;
    padding: 16px;
    place-items: center;
    border-radius: 12px;
    border: 1px solid #888;
    background: repeating-linear-gradient(45deg, #242424 0, #242424 2px, transparent 0, transparent 50%), ;
    background-size: 32px 32px;
    background-color: #191919;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    backdrop-filter: blur(2px);
    opacity: .8;
    transition: .2s opacity;

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__name {
        color: $primaryTextColor;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        /* 20px */
        text-transform: uppercase;
    }

    &__img {
        transition: .2s transform, .4s opacity;
        opacity: 1;
    }

    &:hover {
        opacity: 1;

        .catalog-card {
            &__img {
                transform: scale(1.05);
            }
        }
    }
}

.faq {
    width: 100%;

    &__btn {
        z-index: 2;
        user-select: none;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-height: 100px;
        min-height: 100px;
        height: auto;
        border-radius: 12px;
        border: 1px solid #888;
        background: linear-gradient(180deg, rgba(82, 82, 82, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #1D1D1D;
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
        transition: .1s opacity;

        @media (hover:hover) {
            &:hover {
                opacity: .8;
            }
        }
    }

    &__title {
        color: #E0E0E0;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
        /* 24px */
        text-align: left;
        padding: 8px 0;
        padding-right: 78px;
    }

    &__content {
        display: none;
        padding: 20px 24px;
        width: calc(100% - 20px);
        margin: 0 auto;
        border-radius: 0 0 12px 12px;
        border: 1px solid #888;
        background: linear-gradient(180deg, rgba(82, 82, 82, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #1D1D1D;
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    }

    &__text {
        color: #E0E0E0;
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        /* 25.2px */
    }

    &__count {
        display: grid;
        place-items: center;
        width: 100px;
        min-width: 100px;
        min-height: 100%;
        height: 100px;
        color: #E0E0E0;
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        /* 32px */
        background: #252525;
        border-right: 1px solid #888;
    }

    &__plus {
        width: 40px;
        height: 40px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 30px;

        &:before,
        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 40px;
            background-color: #888;
            transition: transform .3s;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(90deg);

        }
    }

    &.active {
        .faq {
            &__plus {
                &::after {
                    transform: translate(-50%, -50%) rotate(90deg) scaleX(0);
                }
            }
        }
    }
}

.testiomonial {
    border-radius: 12px;
    border: 1px solid #888;
    background: linear-gradient(224deg, #252525 31.56%, #141414 99.26%);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    backdrop-filter: blur(2px);
    padding: 30px;
    display: grid;
    grid-template-columns: 180px auto;
    gap: 24px;

    &__col {
        &_left {
            position: relative;
            height: 100%;
        }
    }

    &__ava {
        position: sticky;
        top: 16px;
        width: 100%;
        height: 180px;
        border-radius: 8px;
        background: #292929;

        .icon {
            width: 100%;
            height: 100%;
            background-color: rgba(75, 75, 75, 1);
        }
    }

    &__img {}

    &__name {
        color: #E0E0E0;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        /* 24px */
    }

    &__text {
        margin-top: 10px;
        color: #E0E0E0;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        /* 25.2px */
        opacity: .6;
    }
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #888;
    background: #222;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.30) inset;
    padding: 4px 12px;
    width: fit-content;
    transition: opacity .1s;

    &__text {
        color: #E0E0E0;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        /* 14px */
    }

    &:hover {
        text-decoration: none;
        opacity: .8;
    }
}

.news-mini {
    position: relative;
    display: flex;
    min-height: 64px;
    gap: 8px 12px;

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__title {
        color: #E0E0E0;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        /* 14px */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        -webkit-box-orient: vertical;
        transition: opacity .1s;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &_img {
            position: relative;
            min-width: 100px;
            border-radius: 8px;
            overflow: hidden;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        transition: opacity .1s;
        // opacity: 0;
    }

    &:hover {
        .news-mini {
            &__image {
                opacity: .8;
            }

            &__title {
                opacity: .8;
            }
        }
    }
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: .4;

    &__text {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 100%;
        /* 12px */
    }
}

.news {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    padding: 24px;
    border: 1px solid #888;
    opacity: 0.8;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%), #222;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    backdrop-filter: blur(2px);
    transition: opacity .2s;

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

    }

    &__image {
        width: 100%;
        border-radius: 16px;
        border: 1px solid #888;
        // opacity: .2;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        /* 24px */
    }

    &__footer {
        display: flex;
        gap: 6px 16px;
    }

    &:hover {
        opacity: 1;
    }
}

.checkbox {
    display: flex;
    gap: 4px;
    cursor: pointer;
    user-select: none;

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: none;
        appearance: none;

        &:focus-visible~.checkbox__box {
            outline: 2px solid rgba(75, 75, 75, 1);
        }

        &:checked~.checkbox__box {
            background: #2A2A2A url(../img/ico/checkbox.svg) center center no-repeat;
        }
    }

    &__box {
        display: inline-block;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        border-radius: 4px;
        border: 1px solid #888;
        background: #2A2A2A;
        margin-top: 3px;
    }

    &__text {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        /* 22.4px */
    }

    &:hover {
        .checkbox__box {
            outline: 2px solid rgba(75, 75, 75, 1);
        }
    }
}

.item {
    position: relative;
    padding: 12px 14px 16px 14px;
    border-radius: 12px;
    border: 1px solid #888;
    background: radial-gradient(79.38% 79.38% at 50.00% 20.63%, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #1D1D1D;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    backdrop-filter: blur(2px);
    height: 100%;
    display: flex;
    flex-direction: column;

    .line {
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 12px;
        transition: .1s opacity;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        /* 19.2px */
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__text {
        opacity: 0.4;
        font-size: 14px;
        line-height: 120%;

        span {
            font-weight: 700;
        }
    }

    &:hover {
        .item {
            &__img {
                opacity: .7;
            }
        }
    }
}

.reg {
    border-radius: 12px;
    border: 1px solid #888;
    opacity: 0.8;
    background: radial-gradient(100.00% 100.00% at 50.00% 100.00%, rgba(110, 110, 110, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%), #222;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    backdrop-filter: blur(2px);
    padding: 24px;
    width: 360px;
    max-width: 100%;
    margin: 0 auto;

    &__title {
        color: #E0E0E0;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 140%;
        /* 39.2px */
        letter-spacing: 1.68px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__restore {
        margin-bottom: 8px;
        color: #E0E0E0;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;

        /* 19.6px */
        button {
            color: #3194cf;
            cursor: pointer;
            border: none;
            background: transparent;
            text-decoration: none;

            &:hover {
                text-decoration: underline
            }
        }
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 48px;
    }
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &__field {
        padding: 10px 8px;
        color: $primaryTextColor;
        background: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.40);
        transition: border-color .2s, color .2s;

        &:focus {
            outline: none;
        }
    }

    &__label {
        position: absolute;
        top: 8px;
        left: 8px;
        color: rgba(255, 255, 255, 0.40);
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        /* 22.4px */
        transition: .2s;
        cursor: text;
    }

    &__err {
        color: #ff3c00;
        font-size: 12px;
    }

    &.focus {
        .input {
            &__label {
                top: 0;
                transform: translateY(-50%);
                background: rgba(255, 255, 255, 0.10);
                color: rgba(255, 255, 255, .6);
                font-size: 12px;
                padding: 2px 4px;
            }

            &__field {
                color: rgba(255, 255, 255, .6)
            }
        }

        &:hover {
            .input {
                &__label {
                    color: rgba(255, 255, 255, 1);
                    background: rgba(255, 255, 255, 0.10)
                }

                &__field {
                    border-color: rgba(255, 255, 255, 0.60);
                    color: $primaryTextColor;
                }
            }
        }
    }

    &:hover {
        .input {
            &__label {
                color: rgba(255, 255, 255, 0.60);
            }

            &__field {
                border-color: rgba(255, 255, 255, 0.60);
            }
        }
    }

    &.active {
        .input {
            &__label {
                color: rgba(255, 255, 255, 1);
            }

            &__field {
                border-color: rgba(255, 255, 255, 0.70);
                color: $primaryTextColor;
            }
        }
    }
}

.order {
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #888;
    background: linear-gradient(224deg, #252525 31.56%, #141414 99.26%);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25), 0px 0px 14px 0px rgba(0, 0, 0, 0.80) inset;
    backdrop-filter: blur(2px);
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-right: 100px;
    }
    &__li {
        span {
            font-weight: 700;
        }
    }
    &__summary {
        position: absolute;
        right: 30px;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: end;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}