.aside {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 300px;
    &__content {
        position: sticky;
        top: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        &_catalog {
            position: static;
            gap: 32px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__title {
        color: #E0E0E0;
        font-size: 26px;
        font-weight: 600;
        line-height: 100%; /* 26px */
    }
    &__subtitle {
        color: #E0E0E0;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%; /* 24px */
        opacity: .6;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px 8px ;
    }
    &__news {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}