@media(max-width: 1920px) {

}
@media(max-width: 1440px) {

}
@media(max-width: 1200px) {
    .header {
        &__nav {
            display: none;
        }
    }
}
@media(max-width: 992px) {
    .footer {
        &__content {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 'l l l''c1 c2 c3';
        }
        &__col {
            grid-area: 1;
            &:nth-child(1) {
                grid-area: l;
            }
            &:nth-child(2) {
                grid-area: c1;
            }
            &:nth-child(3) {
                grid-area: c2;
            }
            &:nth-child(4) {
                grid-area: c3;
            }
        }
    }
}
@media(max-width: 768px) {
    .footer {
        &__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &__col {
            &:first-child {
                margin-bottom: 16px;
            }
            &:last-child {
                margin-top: 16px;
            }
        }
    }

}
@media(max-width: 576px) {

}
@media(max-width: 480px) {
    .btn {
        &_header {
            &-desk {
                display: none;
            }
            &-mobi {
                display: flex;
            }
        }
    }
    .sidebar {
        width: 100%;
    }
    .header {
        padding: 12px 0;
    }
    .logo {
        &__image {
            height: auto;
            width: 148px;
        }
    }
}
@media(max-width: 360px) {
    .header {
        padding: 8px 0;
    }
}