@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle.min';

@import 'base/variebles.scss';
@import 'base/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 140%;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,ol,li {
    padding: 0;
    margin: 0;
}
img, svg {
    vertical-align: middle;
}
body {
    background-color: $bgColor;
    color: $primaryTextColor;
    @include custom-scrollbar(10px, #252525, #6b6b6b);
}
a {
    color: #235fec;
    text-decoration: none;
    &:hover {
        text-decoration: underline
    }
}

[data-tab] {
    display: none;
    &.active {
        display: block;
    }
}

@import 'base/text.scss';
@import 'base/ui.scss';
@import 'base/fonts.scss';
@import 'base/other.scss';

@import 'blocks/header.scss';
@import 'blocks/slider.scss';
@import 'blocks/news.scss';
@import 'blocks/contacts.scss';
@import 'blocks/footer.scss';
@import 'blocks/aside.scss';
@import 'blocks/cabinet.scss';
@import 'blocks/pop-up.scss';
@import 'blocks/404.scss';

@import './media.scss';